body{overflow: hidden;}
#container{overflow: visible;}
#header{top: -200px;}
.pointer{cursor: pointer;}
.hide{display: none;}
#wrap-loader{display: block;}
.clear{clear: both;}
.wrap-customize{background: url(../images/customize/bg.jpg) no-repeat center top; width: 100%; }
.fancy-btn-customize{position: absolute; right: 0px; top: 0px; z-index: 9999;}
.customize-relative{width: 1300px; position: relative; height: 900px; margin: 0px auto 0 auto; padding: 110px 0 0 0;}
.customize-left{float: left; width: 350px;}
.customize-right{float: left; width: 950px; position: relative; height: 800px;}

.fancybox-lock, .fancybox-overlay { overflow-y: auto !important;}  

@media (min-width: 1200px) {
	.customize-relative{height: 700px;}
	.customize-right{height: 700px;}
}

@media (min-width: 1700px) {
	.customize-relative{height: 880px;}
	.customize-right{height: 880px;}
}

.btn-customize{
	display: inline-block;
	height: 47px;
	line-height: 47px;
	text-align: center;
	padding: 0px 15px;
	color: #ffffff;
	font-size: 18px;
	background: #603e03;
	width: auto;
}

.btn-customize:hover{
	opacity: 0.8;
	filter: alpha(opacity = 80);
}



/* CUSTOMIZE-BLOCK */
	.customize-block{background: url(../images/customize/block_left.png) no-repeat left top; width: 325px; height: 576px;}
	.customize-block.block-3{background: url(../images/customize/block_left_3.png) no-repeat left top; width: 325px; height: 589px;}
		.customize-block .block-header{
			background: url(../images/customize/block_line.png) no-repeat left bottom; 
			width: 267px; margin: 0 auto; height: 30px; font-size: 19px; font-family: 'OpenSans-Bold'; text-transform: uppercase;
			padding: 20px 0 0px 0 ;
			position: relative;
		}
		
		.customize-block .block-header .icon-plus{
			position: absolute; 
			right: 0px;
			bottom: 10px;
			background: url(../images/customize/icon/plus.png) no-repeat left top; 
			width: 15px; height: 15px;
		}
		
		.customize-block .block-header.active .icon-plus{
			background-position: 0 -15px;
		}
		
		/* STEP 1 */
			.customize-block .block-car-model{
				width: 270px;
				margin: 0 0 0 13px;
			}
			
			.customize-block .item-car-model{
				position: relative;
				width: 285px;
				/* height: 70px; */
				padding: 10px 0 0 0;
				margin: 7px 0 17px 0;
			}
			
			.customize-block .item-car-model.item-last{margin-bottom: 0px;}
					
			.customize-block .item-car-model .icm-left{
				width: 100px;
				float: left;
				margin: 30px 0 0;
			}
			
			.customize-block .item-car-model .interior-left{
				width: 105px;
				float: left;
				text-align: right;		
				margin-top: 12px;
			}
			
			.customize-block .item-car-model .icm-left .box-name{
				width: 73px;
				height: 24px;
				border: 1px solid #b9b9b9;
				line-height: 24px;
				background: #FFFFFF;
				text-align: center;
				color: #595959;
				position: absolute;
				left: 20px;
				top: 10px;
			}

			.customize-block .item-car-model .icm-right{
				width: 165px;
				float: right;
				margin: 17px 0 0 0;
			}		
			
			.customize-block .item-car-model .interior-right{
				width: 165px;
				float: left;			
				margin: 8px 0 0 2px;
			}			
			
			.customize-block .interior-right	.item-color-interior{
				width: 45px;
				text-align: center;
				float: left;
			}
			
			.customize-block .interior-right	.item-color-interior.active{
				font-weight: bold;
			}
			
			.customize-block .interior-right	.item-color-interior.active img{
				border: 1px solid #603E03;
			}
			
			.customize-block .icm-right .price-label{
				font-size: 12px;
				color: #656565;
			}
			
			.customize-block .icm-right .price-number{
				font-size: 20px;
				color: #000000;			
			}
			
			/* ACTIVE */
			.customize-block .item-car-model.active .box-name{background: #603e03; color: #FFFFFF;}
			.customize-block .item-car-model.active .price-label{color: #603e03;}
			.customize-block .item-car-model.active .price-number{color: #603e03; font-family: 'OpenSans-Bold';}		
			/* END ACTIVE */
			
			/* INACTIVE */
			.customize-block .item-car-model.inactive .color-interior{
				opacity: 0.2;
			}	
			
			.customize-block .item-car-model.inactive .color-interior img{
				cursor: text!important;
			}
			/* END INACTIVE */			
			
			
			/* BLOCK COLOR */
			.customize-block .block-car-color{width: 287px; margin: 0 auto;}
			.customize-block .item-color{
				width: 65px; float: left; text-align: center; font-family: 'OpenSans-Bold';padding: 10px 0 0 0;
				margin: 0 9px 0 0;
				
			}
			
			.customize-block .item-color.item-last{margin-right: 0px;}
			
			.customize-block .item-color .color-name{line-height: 15px; height: 30px;}
			.customize-block .item-color .color-img{margin: 6px 0 6px 0;}
			.customize-block .item-color .color-img .active{border: 1px solid #603E03;}
			
			.customize-block .item-color.C-4U3{color: #8a3f19;}
			.customize-block .item-color.C-1F9{color: #4f5354;}
			.customize-block .item-color.C-1D4{color: #717272;}
			.customize-block .item-color.C-218{color: #000000;}
			/* END BLOCK COLOR */
		/* END STEP 1 */
		
		/* STEP 2 */
			.wrap-customize .step-2 {
				overflow-y: auto;
			}
			.wrap-customize .step-2 .wrap-accessory{
				margin: 0 auto;
				padding: 5px 0 0 0; 
				height: 510px; 
				overflow: auto;
				margin: 17px 5px 0 20px;
				width: 290px;
			}
			
			.step-2 .text-note{
				margin: 15px 5px 0 9px;
				width: 302px;	
				text-align: center;
				font-size: 11px;
			}
			
			.customize-block .item-accessory{
				position: relative; width: 270px; margin: 0 auto 15px auto;
			}
			
			.step-3 .item-accessory {width: 260px;}
			.step-3 .header-total-price{padding-top: 5px;}
			
			.step-2 .item-accessory{display: none;}
			
			.wrap-item-accessory .block-body{padding: 20px 0 15px 0;}
			
			.wrap-accessory .wrap-item-accessory:first-child .block-header {padding-top: 0px;}
			
			.customize-block .item-accessory .iac-left{float: left; width: 75px;}
			.customize-block .item-accessory .iac-left .iac-img{position: relative;}
			
			.customize-block .item-accessory .iac-left .iac-img img{width: 56px; height: 57px;}
			
			.customize-block .item-accessory .iac-right{
				float: left; width: 185px;
				position: relative;
			}
			
			.customize-block .item-accessory .iac-right .active-accessory{
				position: absolute;
				right: -14px;
				top: 0px;
				background: url(../images/customize/icon/active_accessory.png) no-repeat left top; 
				width: 15px;
	/* 			pointer-events:none;
				-ms-touch-action: none;	 */					
				height: 17px;
				cursor: pointer;
			}			
			
			.customize-block .item-accessory .iac-right .active-accessory.active{
				background-position: left -17px;
			}
			
			.customize-block .item-accessory .iac-name{font-size: 14px;}
			.customize-block .item-accessory .iac-name a{color: #353535;}
			
			.customize-block .item-accessory .iac-price{font-size: 14px;font-family: 'OpenSans-Bold';}
			
			.fancybox-accessory{
				padding: 10px;
				position: relative;
				width: 690px;
			}
			
			.fancybox-accessory .accessory-name{
				font-size: 30px; line-height: 36px; color: #000000;
				margin: 20px 0 20px 0;
				position: relative;
			}
			
			.fancybox-accessory .accessory-name .acn-left{ width: 480px;}
			
			.fancybox-accessory .fancybox-accessory-close{
				position: absolute;
				top: 10px;
				right: 10px;
				display: block;
				background: url(../images/customize/icon/close_popup.png);
				width: 32px;
				height: 32px;
				z-index: 9999;
			}
			
		/* END STEP 2 */
		
		
		/* STEP 3 */
		.wrap-customize .step-3 .block-body{
			width: 267px;
			margin: 0 auto;
			padding: 1px 0 0 0;
		}
		
		.wrap-customize .step-3 .block-body.car-detail{
			padding-top: 7px;
		}
		
		.wrap-customize .step-3 .item-car-detail .car-color-img{
			margin: 0 4px 0 10px;
		}
		
		.wrap-customize .step-3 .item-car-detail{
			margin: 0px 0 18px 0;
		}
		
		.wrap-customize .step-3 .item-car-detail.last-item{margin-bottom: 5px;}
		
		.wrap-customize .step-3 .item-car-detail .item-label{font-size: 18px; color: #353535;}
		
		.wrap-customize .step-3 .item-car-detail .car-model{font-size: 18px;}
		.wrap-customize .step-3 .item-car-detail .btnChange{
			float: right; font-size: 14px; color: #b29871; text-decoration: underline;
			margin: 5px 0 0 0;
		}
		
		.wrap-customize .step-3 .item-car-detail .btnChange:hover{
			color: #603E03;
		}
		
		.wrap-customize .step-3 .item-car-detail .car-color{font-size: 14px; color: #353535;}
		.wrap-customize .step-3 .item-car-detail .car-color-img img{width: 26px; height: 26px;}
		.wrap-customize .step-3 .item-car-detail .car-interior-color{font-size: 14px; color: #353535;}
		
		
		.wrap-customize .step-3 .item-car-detail .list-accessory{
			margin: 15px 0 0 0; 
			height: 125px; 
			overflow: auto;
		}

		.wrap-customize .step-3 .item-car-detail .item-accessory .accessory-name{font-size: 13px; color: #353535; font-family: 'OpenSans-Bold';}
		.wrap-customize .step-3 .item-car-detail .item-accessory .accessory-name img{margin: 0 0 0 5px;}
		.wrap-customize .step-3 .item-car-detail .item-accessory .accessory-name .acn-left{
			float :left;
			width: 220px;
		}
		
		.wrap-customize .step-3 .item-car-detail .item-accessory .accessory-name .acn-right{
			float :right;
			width: 40px;
		}		
		
		.wrap-customize .step-3 .item-car-detail .item-accessory .accessory-name .acn-right .btn-remove{
			width: 32px;
			height: 20x;
			font-size: 12px;
			text-align: center;
			background: #CCCCCC;
		}
		
		.wrap-customize .step-3 .item-car-detail .item-accessory .accessory-name .acn-right .btn-remove:hover{
			background: #999999;
		}		
		
		.wrap-customize .step-3 .item-car-detail .item-accessory  .accessory-price{font-size: 14px; color: #000000; font-family: 'OpenSans-Bold';}
				
		.wrap-customize .step-3 .item-car-detail .item-accessory:last-child {
			margin-bottom: 0px;
		} 		
		
		.wrap-customize .step-3 .car-total-price{
			font-size: 32px; color: #603e03; background: url(../images/customize/block_line.png) no-repeat left bottom;
			padding: 5px 0 5px;
			font-family: 'OpenSans-Bold';
		}
		
		.wrap-customize .step-3 .wrap-button{padding: 5px 0 0;}
		
		.wrap-customize .step-3 .wrap-button .button-link{
			padding:0 17px 1px 0;
			display: inline-block; 
			background: url(../images/customize/icon/arrow.png) no-repeat right 7px;
			font-size: 18px;
			color: #603e03;
			text-decoration: underline;
			margin: 0 0 5px 0;
			font-family: 'OpenSans-Light';
		}
		
		.wrap-customize .step-3 .wrap-button .button-link:hover{
			color: #8A3F19;
	
		}
		
		/* END STEP 3 */
/* END CUSTOMIZE-BLOCK */	



/* WRAP BUTTON */
	.wrap-customize .wrap-button{
		height: 44px; position: relative;
		margin: 0 35px 0 4px;
	}
	.wrap-customize .wrap-button div:hover{
		opacity: 0.8;
		filter: alpha(opacity = 80);
	}
	
	.wrap-button .btnBack{
		background: url(../images/customize/button/back.png) no-repeat; width: 89px; height: 44px;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	
	.wrap-button .btnFinsh{
		background: url(../images/customize/button/finish.png) no-repeat; width: 174px; height: 44px;
		position: absolute;
		right: 0px;
		top: 0px;	
	}
	
	.wrap-button .btnSelectAccessory{
		background: url(../images/customize/button/select_accessory.png) no-repeat; width: 155px; height: 44px;
		position: absolute;
		right: 0px;
		top: 0px;	
	}	
/* END WRAP BUTTON */	

/* COL RIGHT */
	.customize-right .wrap-360{
		width: 900px; height: 400px;
		position: absolute;
		cursor:e-resize;
		top: 170px;
		right: 75px;
	}

	.customize-right .wrap-360 .wrap-360-relative{position: relative;}
	.customize-right .wrap-360 .wrap-360-relative .spritespin-360{z-index: 1;}
	
	.customize-right .wrap-360 .wrap-360-relative .bg-arrow-rotate{
		background: url(../images/customize/rotate.png) no-repeat;
		width: 888px;
		height: 119px;
		position: absolute;
		bottom: 90px;
		right: 10px;
		pointer-events:none;
		-ms-touch-action: none;				
	}
	
	/* ITEM-360-ACCESSORY */
	.item-360-accessory{position: absolute; display: none; z-index: 1;}
	/* .accessory-frame-0 */
		.accessory-frame{
 			pointer-events:none;
			-ms-touch-action: none;
			display: none;		
		}
		
		.accessory-frame-0 .op_can_truoc_ma_crom{
			bottom: 136px;
			right: 334px;
		}
		
		.accessory-frame-0 .op_den_suong_mu_ma_crom{
			bottom: 164px;	
			right: 284px;
		}		
		
		.accessory-frame-0 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 157px;	
			right: 279px;
		}
		
		.accessory-frame-0 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 157px;	
			right: 279px;
		}		
		
		.accessory-frame-0 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 314px;	
			right: 265px;
		}
	/* .accessory-frame-1 */
		.accessory-frame-1 .op_can_truoc_ma_crom{
			bottom: 139px;	
			right: 435px;			
		}
		
		.accessory-frame-1 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 304px;			
		}
		
		.accessory-frame-1 .op_den_suong_mu_ma_crom{
			bottom: 162px;	
			right: 374px;				
		}
		
		.accessory-frame-1 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 154px;	
			right: 369px;	
		}
		
		.accessory-frame-1 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 154px;	
			right: 369px;	
		}				
		
		.accessory-frame-1 .chan_nang_suon_xe{
			bottom: 340px;	
			right: 352px;			
		}
	/* .accessory-frame-2 */
		.accessory-frame-2 .op_can_truoc_ma_crom{
			bottom: 142px;	
			right: 533px;					
		}
		
		.accessory-frame-2 .op_den_suong_mu_ma_crom{
			bottom: 160px;	
			right: 461px;			
		}
		
		.accessory-frame-2 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 150px;	
			right: 457px;	
		}
		
		.accessory-frame-2 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 150px;	
			right: 457px;		
		}			
		
		.accessory-frame-2 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 346px;				
		}
		
		.accessory-frame-2 .chan_nang_suon_xe{
			bottom: 342px;	
			right: 347px;			
		}
		
	/* .accessory-frame-3 */	
		.accessory-frame-3 .op_can_truoc_ma_crom{
			bottom: 145px;	
			right: 605px;			
		}
		
		.accessory-frame-3 .chan_nang_suon_xe{
			bottom: 341px;	
			right: 322px;			
		}
		
		.accessory-frame-3 .op_den_suong_mu_ma_crom{
			bottom: 160px;	
			right: 529px;				
		}
		
		.accessory-frame-3 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 154px;	
			right: 527px;	
		}
		
		.accessory-frame-3 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 154px;	
			right: 527px;			
		}			
		
		.accessory-frame-3 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 368px;				
		}
	/* .accessory-frame-4 */
		.accessory-frame-4 .op_can_truoc_ma_crom{
			bottom: 150px;	
			right: 665px;					
		}
		
		.accessory-frame-4 .chan_nang_suon_xe{
			bottom: 338px;	
			right: 291px;				
		}
		
		.accessory-frame-4 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 393px;			
		}
		
		.accessory-frame-4 .op_den_suong_mu_ma_crom{
			bottom: 163px;	
			right: 593px;				
		}
		
		.accessory-frame-4 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 155px;	
			right: 587px;	
		}
		
		.accessory-frame-4 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 155px;	
			right: 587px;				
		}			
		
	/* .accessory-frame-5 */
		.accessory-frame-5 .op_can_truoc_ma_crom{
			bottom: 156px;	
			right: 711px;					
		}
		
		.accessory-frame-5 .chan_nang_suon_xe{
			bottom: 338px;	
			right: 267px;				
		}
		
		.accessory-frame-5 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 315px;	
			right: 419px;			
		}
		
		.accessory-frame-5 .op_den_suong_mu_ma_crom{
			bottom: 167px;	
			right: 643px;				
		}	
		
		.accessory-frame-5 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 159px;	
			right: 638px;		
		}
		
		.accessory-frame-5 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 159px;	
			right: 638px;				
		}			
		
	/* .accessory-frame-6 */
		.accessory-frame-6 .op_can_truoc_ma_crom{
			bottom: 162px;	
			right: 753px;					
		}
		
		.accessory-frame-6 .chan_nang_suon_xe{
			bottom: 339px;	
			right: 260px;				
		}
		
		.accessory-frame-6 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 315px;	
			right: 457px;			
		}
		
		.accessory-frame-6 .op_den_suong_mu_ma_crom{
			bottom: 172px;	
			right: 695px;				
		}		

		.accessory-frame-6 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 165px;	
			right: 694px;		
		}
		
		.accessory-frame-6 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 165px;	
			right: 694px;				
		}			
	/* .accessory-frame-7 */
		.accessory-frame-7 .op_can_truoc_ma_crom{
			bottom: 170px;	
			right: 786px;					
		}
		
		.accessory-frame-7 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 261px;				
		}
		
		.accessory-frame-7 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 313px;	
			right: 498px;			
		}
		
		.accessory-frame-7 .op_den_suong_mu_ma_crom{
			bottom: 178px;	
			right: 737px;				
		}		
		
		.accessory-frame-7 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 171px;	
			right: 737px;			
		}
		
		.accessory-frame-7 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 171px;	
			right: 737px;				
		}			

	/* .accessory-frame-8 */
		.accessory-frame-8 .op_can_truoc_ma_crom{
			bottom: 176px;	
			right: 792px;					
		}
		
		.accessory-frame-8 .chan_nang_suon_xe{
			bottom: 336px;	
			right: 267px;				
		}
		
		.accessory-frame-8 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 313px;	
			right: 535px;			
		}
		
		.accessory-frame-8 .op_den_suong_mu_ma_crom{
			bottom: 183px;	
			right: 767px;				
		}		
		
		.accessory-frame-8 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 177px;	
			right: 768px;			
		}
		
		.accessory-frame-8 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 177px;	
			right: 768px;					
		}			

	/* .accessory-frame-9 */
		.accessory-frame-9 .op_can_truoc_ma_crom{
			bottom: 181px;	
			right: 812px;					
		}
		
		.accessory-frame-9 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 278px;				
		}
		
		.accessory-frame-9 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 315px;	
			right: 569px;			
		}
		
		.accessory-frame-9 .op_den_suong_mu_ma_crom{
			bottom: 191px;	
			right: 784px;				
		}		
		
		.accessory-frame-9 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 185px;	
			right: 784px;		
		}
		
		.accessory-frame-9 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 185px;	
			right: 784px;				
		}			

	/* .accessory-frame-10 */
		.accessory-frame-10 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 298px;				
		}
		
		.accessory-frame-10 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 314px;	
			right: 597px;			
		}
		
		.accessory-frame-10 .op_den_suong_mu_ma_crom{
			bottom: 198px;	
			right: 788px;				
		}		
		
		.accessory-frame-10 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 191px;	
			right: 788px;	
		}
		
		.accessory-frame-10 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 191px;	
			right: 788px;			
		}		

	/* .accessory-frame-11 */
		.accessory-frame-11 .op_can_sau_ma_crom{
			bottom: 185px;	
			right: 65px;				
		}
		
		.accessory-frame-11 .chan_nang_suon_xe{
			bottom: 336px;	
			right: 321px;				
		}
		
		.accessory-frame-11 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 314px;	
			right: 597px;			
		}
		
		.accessory-frame-11 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 246px;	
			right: 74px;		
		}
				
		.accessory-frame-11 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 196px;	
			right: 783px;	
		}
		
		.accessory-frame-11 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 196px;	
			right: 783px;			
		}			

	/* .accessory-frame-12 */
		.accessory-frame-12 .op_can_sau_ma_crom{
			bottom: 182px;	
			right: 59px;				
		}
		
		.accessory-frame-12 .chan_nang_suon_xe{
			bottom: 336px;	
			right: 349px;				
		}
		
		.accessory-frame-12 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 315px;	
			right: 633px;			
		}
		
		.accessory-frame-12 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 239px;	
			right: 71px;		
		}
		
	/* .accessory-frame-13 */
		.accessory-frame-13 .op_can_sau_ma_crom{
			bottom: 173px;	
			right: 60px;				
		}
		
		.accessory-frame-13 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 373px;				
		}
		
		.accessory-frame-13 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 318px;	
			right: 633px;			
		}
		
		.accessory-frame-13 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 233px;	
			right: 75px;		
		}		
		
	/* .accessory-frame-14 */
		.accessory-frame-14 .op_can_sau_ma_crom{
			bottom: 167px;	
			right: 69px;				
		}
		
		.accessory-frame-14 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 398px;				
		}
		
		.accessory-frame-14 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 318px;	
			right: 622px;			
		}
		
		.accessory-frame-14 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 229px;	
			right: 92px;		
		}		

	/* .accessory-frame-15 */
		.accessory-frame-15 .op_can_sau_ma_crom{
			bottom: 162px;	
			right: 103px;				
		}
		
		.accessory-frame-15 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 429px;				
		}
		
		.accessory-frame-15 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 319px;	
			right: 616px;			
		}
		
		.accessory-frame-15 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 225px;	
			right: 126px;		
		}		

	/* .accessory-frame-16 */
		.accessory-frame-16 .op_can_sau_ma_crom{
			bottom: 158px;	
			right: 154px;				
		}
		
		.accessory-frame-16 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 462px;				
		}
		
		.accessory-frame-16 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 603px;			
		}
		
		.accessory-frame-16 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 221px;	
			right: 178px;		
		}			
		
	/* .accessory-frame-17 */
		.accessory-frame-17 .op_can_sau_ma_crom{
			bottom: 158px;	
			right: 224px;				
		}
		
		.accessory-frame-17 .chan_nang_suon_xe{
			bottom: 338px;	
			right: 498px;				
		}
		
		.accessory-frame-17 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 220px;	
			right: 248px;		
		}	

	/* .accessory-frame-18 */
		.accessory-frame-18 .op_can_sau_ma_crom{
			bottom: 157px;	
			right: 337px;				
		}

		.accessory-frame-18 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 220px;	
			right: 361px;		
		}		

	/* .accessory-frame-19 */
		.accessory-frame-19 .op_can_sau_ma_crom{
			bottom: 157px;	
			right: 454px;				
		}
		
		.accessory-frame-19 .chan_nang_suon_xe{
			bottom: 339px;	
			right: 358px;				
		}
		
		.accessory-frame-19 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 305px;			
		}		
		
		.accessory-frame-19 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 221px;	
			right: 478px;		
		}			
	
	/* .accessory-frame-20 */
		.accessory-frame-20 .op_can_sau_ma_crom{
			bottom: 158px;	
			right: 543px;				
		}
		
		.accessory-frame-20 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 347px;				
		}
		
		.accessory-frame-20 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 294px;			
		}		
		
		.accessory-frame-20 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 222px;	
			right: 565px;		
		}		
		
	/* .accessory-frame-21 */
		.accessory-frame-21 .op_can_sau_ma_crom{
			bottom: 162px;	
			right: 627px;				
		}
		
		.accessory-frame-21 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 330px;				
		}
		
		.accessory-frame-21 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 281px;			
		}		
		
		.accessory-frame-21 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 224px;	
			right: 641px;		
		}		

	/* .accessory-frame-22 */
		.accessory-frame-22 .op_can_sau_ma_crom{
			bottom: 167px;	
			right: 695px;				
		}
		
		.accessory-frame-22 .chan_nang_suon_xe{
			bottom: 338px;	
			right: 317px;				
		}
		
		.accessory-frame-22 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 320px;	
			right: 269px;			
		}		
		
		.accessory-frame-22 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 229px;	
			right: 704px;		
		}		
		
	/* .accessory-frame-23 */
		.accessory-frame-23 .op_can_sau_ma_crom{
			bottom: 173px;	
			right: 744px;				
		}
		
		.accessory-frame-23 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 301px;				
		}
		
		.accessory-frame-23 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 316px;	
			right: 260px;			
		}		
		
		.accessory-frame-23 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 235px;	
			right: 752px;		
		}		

	/* .accessory-frame-24 */
		.accessory-frame-24 .op_can_sau_ma_crom{
			bottom: 179px;	
			right: 782px;				
		}
		
		.accessory-frame-24 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 295px;				
		}
		
		.accessory-frame-24 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 316px;	
			right: 258px;			
		}		
		
		.accessory-frame-24 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 240px;	
			right: 784px;		
		}	

	/* .accessory-frame-25 */
		.accessory-frame-25 .op_can_sau_ma_crom{
			bottom: 184px;	
			right: 809px;				
		}
		
		.accessory-frame-25 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 299px;				
		}
		
		.accessory-frame-25 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 316px;	
			right: 258px;			
		}		
		
		.accessory-frame-25 .op_trang_tri_cua_khoang_hanh_ly_ma_crom{
			bottom: 246px;	
			right: 809px;		
		}			
			
		.accessory-frame-25 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 201px;	
			right: 115px;	
		}
		
		.accessory-frame-25 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 201px;	
			right: 115px;			
		}			
		
	/* .accessory-frame-26 */

		.accessory-frame-26 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 311px;				
		}
		
		.accessory-frame-26 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 314px;	
			right: 283px;			
		}		
		
		.accessory-frame-26 .op_den_suong_mu_ma_crom{
			bottom: 198px;	
			right: 105px;		
		}		
		
		.accessory-frame-26 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 191px;	
			right: 101px;
		}
		
		.accessory-frame-26 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 191px;	
			right: 101px;		
		}			
	/* .accessory-frame-27 */

		.accessory-frame-27 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 329px;				
		}
		
		.accessory-frame-27 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 316px;	
			right: 305px;			
		}		
		
		.accessory-frame-27 .op_den_suong_mu_ma_crom{
			bottom: 193px;	
			right: 104px;		
		}			
		
		.accessory-frame-27 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 185px;	
			right: 98px;
		}
		
		.accessory-frame-27 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 185px;	
			right: 98px;	
		}			
		
	/* .accessory-frame-28 */
		.accessory-frame-28  .op_can_truoc_ma_crom{
			bottom: 178px;	
			right: 83px;				
		}
		
		.accessory-frame-28 .chan_nang_suon_xe{
			bottom: 336px;	
			right: 351px;				
		}
		
		.accessory-frame-28 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 315px;	
			right: 334px;			
		}		
		
		.accessory-frame-28 .op_den_suong_mu_ma_crom{
			bottom: 184px;	
			right: 117px;		
		}		

		.accessory-frame-28 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 178px;	
			right: 109px;
		}
		
		.accessory-frame-28 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 178px;	
			right: 109px;
		}			
	/* .accessory-frame-29 */
		.accessory-frame-29  .op_can_truoc_ma_crom{
			bottom: 170px;	
			right: 84px;				
		}
		
		.accessory-frame-29 .chan_nang_suon_xe{
			bottom: 336px;	
			right: 377px;				
		}
		
		.accessory-frame-29 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 314px;	
			right: 367px;			
		}		
		
		.accessory-frame-29 .op_den_suong_mu_ma_crom{
			bottom: 178px;	
			right: 142px;		
		}

		.accessory-frame-29 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 171px;	
			right: 132px;
		}
		
		.accessory-frame-29 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 171px;	
			right: 132px;
		}			
	/* .accessory-frame-30 */
		.accessory-frame-30 .op_can_truoc_ma_crom{
			bottom: 164px;	
			right: 87px;				
		}
	
		.accessory-frame-30 .chan_nang_suon_xe{
			bottom: 336px;	
			right: 405px;				
		}
		
		.accessory-frame-30 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 315px;	
			right: 403px;			
		}		
		
		.accessory-frame-30 .op_den_suong_mu_ma_crom{
			bottom: 172px;	
			right: 180px;		
		}	

		.accessory-frame-30 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 167px;	
			right: 168px;	
		}
		
		.accessory-frame-30 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 167px;	
			right: 168px;	
		}		
	/* .accessory-frame-31 */
		.accessory-frame-31  .op_can_truoc_ma_crom{
			bottom: 153px;	
			right: 97px;				
		}
		
		.accessory-frame-31 .chan_nang_suon_xe{
			bottom: 336px;	
			right: 433px;				
		}
		
		.accessory-frame-31 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 314px;	
			right: 440px;			
		}		
		
		.accessory-frame-31 .op_den_suong_mu_ma_crom{
			bottom: 166px;	
			right: 229px;		
		}		

		.accessory-frame-31 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 160px;	
			right: 217px;
		}
		
		.accessory-frame-31 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 160px;	
			right: 217px;
		}			
	/* .accessory-frame-32 */
		.accessory-frame-32  .op_can_truoc_ma_crom{
			bottom: 149px;	
			right: 103px;				
		}
		
		.accessory-frame-32 .chan_nang_suon_xe{
			bottom: 337px;	
			right: 449px;				
		}
		
		.accessory-frame-32 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 315px;	
			right: 466px;			
		}		
		
		.accessory-frame-32 .op_den_suong_mu_ma_crom{
			bottom: 162px;	
			right: 278px;		
		}			
		
		.accessory-frame-32 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 157px;	
			right: 263px;	
		}
		
		.accessory-frame-32 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 157px;	
			right: 263px;	
		}						
	/* .accessory-frame-33 */
		.accessory-frame-33  .op_can_truoc_ma_crom{
			bottom: 145px;	
			right: 125px;				
		}
		
		.accessory-frame-33 .chan_nang_suon_xe{
			bottom: 338px;	
			right: 468px;				
		}
		
		.accessory-frame-33 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 316px;	
			right: 219px;			
		}		
		
		.accessory-frame-33 .op_den_suong_mu_ma_crom{
			bottom: 160px;	
			right: 116px;		
		}		
		
		.accessory-frame-33 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 155px;	
			right: 114px;	
		}
		
		.accessory-frame-33 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 155px;	
			right: 114px;	
		}			

	/* .accessory-frame-34 */
		.accessory-frame-34  .op_can_truoc_ma_crom{
			bottom: 142px;	
			right: 169px;				
		}
		
		.accessory-frame-34 .chan_nang_suon_xe{
			bottom: 339px;	
			right: 490px;				
		}
		
		.accessory-frame-34 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 213px;			
		}		
		
		.accessory-frame-34 .op_den_suong_mu_ma_crom{
			bottom: 161px;	
			right: 143px;		
		}		
		
		.accessory-frame-34 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 153px;	
			right: 141px;
		}
		
		.accessory-frame-34 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 153px;	
			right: 141px;
		}			
	/* .accessory-frame-35 */
		.accessory-frame-35  .op_can_truoc_ma_crom{
			bottom: 139px;	
			right: 245px;				
		}
		
		.accessory-frame-35 .chan_nang_suon_xe{
			bottom: 339px;	
			right: 520px;				
		}
		
		.accessory-frame-35 .op_trang_tri_guong_chieu_hau_ma_crom{
			bottom: 317px;	
			right: 234px;			
		}		
		
		.accessory-frame-35 .op_den_suong_mu_ma_crom{
			bottom: 161px;	
			right: 206px;		
		}			
		
		.accessory-frame-35 .den_ban_ngay_co_op_den_suong_mu{
			bottom: 154px;	
			right: 204px;	
		}
		
		.accessory-frame-35 .den_ban_ngay_khong_co_op_den_suong_mu{
			bottom: 154px;	
			right: 204px;	
		}			
	/* END ITEM-360-ACCESSORY */

/* END COL RIGHT */