a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}q{quotes:none}q:before,q:after{content:'';content:none}sub,sup,small{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}svg{overflow:hidden}*{padding:0;margin:0;outline:none;outline:0;_noFocusLine:expression(this.hideFocus=true);}table{border-spacing:0;border-collapse:collapse;}button,input{line-height:normal;}img{border:0px;}a{text-decoration:none;}a:hover{text-decoration:none;}*{margin:0px;padding:0px;outline:0 none;}ul{list-style:none;}.clearAll{clear:both;font-size:0px;width:0px;height:0px;margin:0;padding:0;}.right{float: right;}.left{float: left;}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf')  format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf')  format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
	margin: 0 auto;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	outline: none;
	width:100%;
	max-width: 1920px;
	position:relative;
	z-index:0;
	*zoom: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



html.auto, html.auto body {
	height: auto;
	max-height: auto;
	overflow: auto;
}

html.auto #footer{
	position: absolute;
	z-index: 0;
	bottom: 0;
}

.pa{position: absolute;z-index: 0;}
#container{
	width: 100%;
 	height: 100%;
	position: relative;
	z-index: 0;
/* 	overflow: hidden; */
}

.w1000{
    margin: 0 auto;
    position: relative;
    width: 1000px;
    z-index: 0;
}

/*Loading*/
.loading_home{
	position: fixed;
	background: #000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000000000;
}

.loading_home.disable{
	display: none;
}

.loading_home .loading_icon{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -64px;
	margin-top: -64px;
	background: url(../images/loading.gif) no-repeat 0 0;
	width: 64px;
	height: 64px;
}

.loading_home .loading_process{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -64px;
	margin-top: -64px;
	width: 64px;
	height: 64px;
	color: #fff;
	line-height: 64px;
	text-align: center;
}



section,
.w_m,
#intro-page .bg-intro,
#intro-page .img-mirror,
#intro-page .light_shadow,
#intro-page .light_shadow > div,
#rtt3d,
#rtt3d_1,
.bg_performance,
.bg_light div{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}

section{
	left: 120%;
}

section.active{
	z-index: 100;
}

section.active-main{
	z-index: 1000!important;
}

.img_100,
#intro-page .img-mirror .pa img,
#intro-page .car img,
#intro-page .car .js_car,
#intro-page .text img,
#intro-page .btn_prev img,
#intro-page .btn_next img,
.bg_light img,
#intro-page .car_end img,
.btn_next_page img,
.btn_back_page img{
	width: 100%;
}

#intro-page .car img,
#intro-page .img-mirror .img_mr img,
#intro-page .car_end img,
#intro-page .btn_khampha img{
	display: none;
}

#intro-page .car img:first-child,
#intro-page .img-mirror .img_mr img:first-child,
#rtt3d img:first-child,
#intro-page .car_end img:first-child,
#intro-page .btn_khampha img:first-child,
#intro-page .btn_khampha:hover img.hover{
	display: block;
}

#intro-page .btn_khampha:hover img{
	display: none;
}

.bg_mask_main{
    width: 100%;
	height: 100%;
}

.bg_light{
    display: none;
    left: -9.375%;
    position: absolute;
    top: 50%;
    width: 9.375%;
    z-index: 0;
	overflow: hidden;
	margin-top: -28.2%;
}

.bg_light div.bg_1{
	background: url(../images/line_1.png) no-repeat;
	background-size: 100% auto;
}

.bg_light div.bg_2{
	background: url(../images/line_2.png) no-repeat;
	background-size: 100% auto;
}

.bg_light div.bg_3{
	background: url(../images/line_3.png) no-repeat;
	background-size: 100% auto;
}

.bg_light div.bg_4{
	background: url(../images/line_4.png) no-repeat;
	background-size: 100% auto;
}

.bg_light div.bg_5{
	background: url(../images/line_5.png) no-repeat;
	background-size: 100% auto;
}

.bg_light div.bg_6{
	background: url(../images/line_6.png) no-repeat;
	background-size: 100% auto;
}

.btn_dangky{
	display: inline-block;
	width: 11.51041666666667%;
	position: fixed;
	z-index: 999;
	bottom: 0!important;
	left: 0;
}

.bg_barright{
	width: 19.84375%;
	top: 50%;
	right: -19.84375%;
	z-index: 110;
	margin-top: -28.2%;
	overflow: hidden;
}

.bg_barright .w_m.active{
	z-index: 1000;
}

.bg_barright img{
    width: 100%;
}

.bg_barright img.mapster_el{
	opacity: 0.5!important;
}

.bg_barright.bar_1.active,
.bg_barright.bar_2.active{
	visibility: hidden;
}



.bg_barright.bar_3{
	right: 0;
}

.bg_barright.bar_3.active{
	z-index: 10000;
}

.btn_face,
.btn_google{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/btn/btn_face.png) no-repeat;
}

.btn_google{
	background: url(../images/btn/btn_google.png) no-repeat;
}

.btn_face:hover,
.btn_google:hover{
	background-position: 0 bottom;
}

.btn_control{
	display: none;
	width: 15.39583333333333%;
	position: fixed;
	z-index: 10000;
	bottom: 20px;
	left: 50%;
	margin: 0 0 0 -6.197916666666667%;
	text-align: center;
	font-size: 0;
}

.btn_control *{
	vertical-align: top;
}

.btn_control a{
	display: inline-block;
}

.btn_control a img{
	text-align: left;
}

.btn_next_page,
.btn_back_page{
	display: none;
	width: 55.04201680672269%;
	margin: 0 1%;
}

.btn_back_page{
	width: 36.5546218487395%;
}

.btn_next_page:hover,
.btn_back_page:hover{
	opacity: 0.7;
}

.preload_img{
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: fixed; 
	left: -1px; 
	top: -1px; 
	visibility: hidden;
}

/*ACE Popup Plugin*/
.ace-popup{
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 105;
	width: 100%;
	height: 100%;
	display: none;
}

.ace-popup .ace-overplay{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,0,0,0.98);
}

.ace-popup .ace-content{
	width: 42.96875%;
	margin: auto;
	margin-top: 70px;
	position: relative;
	z-index: 2;
}

.ace-popup .ace-close{
	position: fixed;
	right: 21%;
	top: 12%;
	width: 29px;
	z-index: 1;
	height: 31px;
	background: url(../images/icon/popup_close.png);
	cursor: pointer;
}

.ace-popup .ace-content img{
	width: 100%;
}

.ace-popup .ace-content .ace-title{
	width: 95%;
	margin: 0 auto 10px;
	font-size: 30px;
	color: #c0a57d;
}

.ace-popup .ace-content .ace-description{
	width: 95%;
	font-size: 15px;
	margin: auto;
	color: #fff;
	font-family: 'OpenSans-Light';
	max-height: 130px;
	overflow-x: hidden;
}

.ace-popup .ace-content .ace-title,.ace-popup .ace-content .ace-description{
	position: relative;
	top: -25px;
}

/*Type Car*/
.type-car{
	display: none;
	position: absolute;
	top: 50%;
	left: 3.71%;
	z-index: 101;
	width: 30.7291%;
	margin-top: 13.5%;
}

.type-car.active{
	display: block;
}

.type-car .type-text{ margin-bottom: 20px; }
.type-car table{ width: 100%; text-align: center; font-size: 14px; font-family: 'OpenSans-Bold'; color: #d9b97f;}
.type-car .col-1{ width: 20%; }
.type-car .line{ width: 10%; width: 100%; height: 1px; border-bottom: 1px solid #d9b97f }
.type-car .col-2{ width: 60%; }

#text_1.type-car .line{
	border-color: #000;
}

#text_1.type-car table{
	color: #000;
}

#text_2.type-car .line,
#text_3.type-car .line,
#text_4.type-car .line{
	border-color: #fff;
}

#text_2.type-car table,
#text_3.type-car table,
#text_4.type-car table{
	color: #fff;
}

.list-type .item{
	float: left;
	width: 33%;
	cursor: pointer;
	text-align: center;
}

.type-car .type-text img{
	width: 100%;
}

.list-type .item img{
	width: 100%;
}

.list-type .item .text{
	display: inline-block;
	padding: 3px 5px;
}

.list-type a:hover .item .text,.list-type a.active .item .text{
	background: #fff;
	-webkit-box-shadow: 1px 0px 20px 2px rgba(255, 255, 255, 0.75);
	-moz-box-shadow:    1px 0px 20px 2px rgba(255, 255, 255, 0.75);
	box-shadow:         1px 0px 20px 2px rgba(255, 255, 255, 0.75);
}

.list-type a{
	color: #000;
}

.list-type a:hover{
	color: #533528;
}

.ace-item{
	display: none;
}

a.btn_bar_next,
a.btn_bar_prev{
	display: none;
	width: 49px;
	height: 96px;
	background: url(../images/btn/btn_control.png) no-repeat;
	position: absolute;
	z-index: 0;
	top: 50%;
	right: 10px;
	margin-top: -48px;
}

a.btn_bar_next{
	background-position: 0 -96px;
}

a.btn_bar_next:hover,
a.btn_bar_prev:hover{
	opacity: 0.5;
}


a.btn_bar_next.active,
a.btn_bar_prev.active{
	display: block;
}

.bg_CTV_2_0V .map_ex{
	left: 0;
	top: 0;
	width: 100%;
}

.view_overlay{
	z-index: 10;
}

#intro-page .car .js_car{
	position: relative;
	z-index: 1000;
	cursor: default!important;
}

